.header{
    border:1px solid lightgray;
    border-radius: 25px;
      background: beige;
      padding: 20px;
      width: auto;
      height: 225px;
      text-align:center
    }
    .body{
      border:1px solid lightgray;
    border-radius: 25px;
      background: beige;
      padding: 20px;
      width: auto;
      height: 70vh;
    }
    .center{
        text-align: center;
    }
    .addUser{
        width:100px;
        height:40px;
    }
    .float-container {
      border: 3px solid #fff;
    }
    .p-dropdown{
      
    }
    .float-left {
      width: 32%;
      float: left;
      margin-left:5px;
      height:95vh;
    } 
    .float-right {
      width: 33%;
      float: right;
      height:95vh;
    } 
    .float-center{
      width: 33%;
      float:inline-start;
    }
    .test{
      height: 10px !important;
    }
    
    .input{
      border:1px solid rgb(192, 27, 27);
    }
    .addColleague{
      border: 1px solid black;
      height: 30vh;
    }
    .colleagueAvailability{
      border: 1px solid blue;
      height: 65vh;
    }
    .teamAvailability{
      border: 1px solid red;
      height: 65vh;
    }