

<div class="float-container center">
<div class="float-left" style="border:1px solid lightgray">
    <h2 >Add Colleague</h2>
    <div class="float-container">
        <h4>Name: </h4>
        <input [(ngModel)]="tempName">
    </div>
    <br>
    <h4>Add Availability: </h4>
    <p-dropdown  [options]="times" [(ngModel)]="tempStart"></p-dropdown>
    <p-dropdown  [options]="suffix" [(ngModel)]="tempStartMeridiem"></p-dropdown> - 
    <p-dropdown  [options]="times" [(ngModel)]="tempEnd"></p-dropdown>
    <p-dropdown  [options]="suffix" [(ngModel)]="tempEndMeridiem"></p-dropdown>
    <br>
    <button style="margin-top:5px" pButton type="button" label="Add Availability" (click)="addAvailability()"></button>&nbsp;
    <h4>Colleague's Availabilities</h4>

    {{tempAvailabilityText}}
    <br>
    <h4>Timezone</h4>
    <p-dropdown  [options]="timezones" [(ngModel)]="tempTimezone" optionLabel="" placeholder=""></p-dropdown>
    <br><br><br>
    <button style="margin-top:5px" pButton type="button" label="Clear" ></button>&nbsp;
    <button style="margin-top:5px" pButton type="button" label="Save" (click)="saveColleague()"></button>&nbsp;
</div>

<div class="float-left" style="border:1px solid lightgray">
    <h2 >Team Availability</h2>
    <br>
    <p-table [value]="team">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Availability</th>
                <th>Timezone</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-col>
            <tr>
                <td>{{col.name}}</td>
                <td>{{col.availability}}</td>
                <td>{{col.timezone}}</td>
            </tr>
        </ng-template>
    </p-table> <!--replace with table-->
    <button *ngIf="team.length > 1" style="margin-top:5px" pButton type="button" label="Calculate Results" (click)="calculateAvailability()"></button>&nbsp;
</div>
<div class="float-right" style="border:1px solid lightgray">
    <h2 >Results</h2>
    <br>
    <p-dropdown  [options]="timezones" [(ngModel)]="selectedTimezone" optionLabel="" (onChange)="onChange()" placeholder=""></p-dropdown>
    <br><br>
    {{results}}
</div>
</div>










<!--
<div #addColleague class="addColleague">
    <p style="margin-left:5px">Add Colleague</p>
   
           
    <div>
        <p style="margin-left:5px">Name: </p>
        <input style="margin-left:5px">
    </div>
    <br>
    <p>Add Availability: </p>
    <p-dropdown  [options]="times" [(ngModel)]="selectedTime" optionLabel="" (onChange)="onChange()" placeholder=""
    style="margin-left:5px"></p-dropdown>
    <p-dropdown  [options]="suffix" [(ngModel)]="selectedSuffix" optionLabel="" (onChange)="onChange()" placeholder=""></p-dropdown> - 
    <p-dropdown  [options]="times" [(ngModel)]="selectedTime" optionLabel="" (onChange)="onChange()" placeholder=""></p-dropdown>
    <p-dropdown  [options]="suffix" [(ngModel)]="selectedSuffix" optionLabel="" (onChange)="onChange()" placeholder=""></p-dropdown>&nbsp;
    <button pButton type="button" [label]="buttonText[0]" (click)="add()"></button>&nbsp;
</div>
<div #main class="float-container">
    <div #colleagueAvailability class="colleagueAvailability float-child1">
        <p>Colleague Availability</p>
    </div>
    <div #teamAvailability class="teamAvailability float-child2">
        <p>Team Availability</p>
    </div>
</div>-->